---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const badge = [
  {
    name: "LinkendIn",
    file: "linkendin",
    link: "https://www.linkedin.com/in/angelochoquemaravi",
  },
  {
    name: "GitHub",
    file: "github",
    link: "https://github.com/angeloChoque",
  },
  {
    name: "Portfolio",
    file: "portfolio",
    link: "https://angelochoque.github.io/My-Portfolio/",
  },
];
---

<BaseLayout title="Home">
  <main class="px-4 py-24 text-center space-y-20">
    <section class="max-w-xl m-auto mt-10 mb-28 text-center">
      <h1
        class="text-5xl pb-10 font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#d83333] to-[#f041ff]"
      >
        PROJECT ASTRO
      </h1>
      <p class="mt-6 text-xl">
        In this project made with Astro, I aim to showcase <strong
          class="text-[#fef08a]"
        >
          all my projects
        </strong>
        that I can create with this framework and practice for my individual project.
      </p>
      <nav class="flex items-center my-8 space-x-4 justify-center">
        {
          badge.map((title) => {
            return (
              <a
                href={title.link}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center bg-gray-100 text-gray-800 text-sm font-semibold px-4 py-2 rounded-full dark:bg-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600 transition"
              >
                <Icon name={title.file} class="mr-2" />
                {title.name}
              </a>
            );
          })
        }
      </nav>
    </section>
    <section class="max-w-4xl m-auto text-left">
      <h2
        class="text-4xl pb-10 font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#d83333] to-[#f041ff] text-center"
      >
        PROJECTS
      </h2>
      <article class="mt-10 space-y-8 group">
        <div class="w-full flex flex-col md:flex-row md:space-x-8">
          <div
            class="relative flex flex-col items-center col-span-6 row-span-5 mb-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
          >
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover w-auto h-full max-h-64 md:max-h-80 transition duration-500 md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src="/imagen_leon.jpg"
            />
          </div>
          <div class="w-full md:w-1/2">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
              Project Description
            </h3>
            <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
              This is a description of the project, highlighting the main goals
              and the impact it has had.
            </p>
            <div class="flex flex-wrap mt-4">
              <ul class="flex flex-row gap-2">
                <li>
                  <span
                    class="flex gap-x-2 rounded-full text-xs py-1 px-2 bg-gray-100 dark:bg-gray-700"
                  >
                    Tag 1
                  </span>
                </li>
                <li>
                  <span
                    class="flex gap-x-2 rounded-full text-xs py-1 px-2 bg-gray-100 dark:bg-gray-700"
                  >
                    Tag 2
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>
</BaseLayout>
