---

import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout Title="home" description="here is header in page" >
  <Header Title="Hola" Text="How are you?" />
  <h1>Astro</h1>

</BaseLayout>
