---
import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface props {
  title: string;
  Description: string;
}

const Props: props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Landing-Page-Astro/favicon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Props.Description} />
    <title>{Props.title}</title>
  </head>
  <body class="relative text-black dark:text-white font-poppins">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <ViewTransitions />
    <Header />
    <slot />
  </body>

  <script is:inline>
    const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");

    const getThemePreference = () => {
      return localStorage.getItem("theme") || "system";
    };

    const updateTheme = () => {
      const themePreference = getThemePreference();
      const isDark =
        themePreference === "dark" ||
        (themePreference === "system" && matchMedia.matches);

      document.documentElement.classList.toggle("dark", isDark);
    };

    document.addEventListener("astro:page-load", () => {
      updateTheme();
    });

    updateTheme();

    matchMedia.addEventListener("change", updateTheme);
  </script>
</html>

<style is:global>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
